*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-rows:10% 45% 45%;
    background-color: aquamarine;
}
#nav{
    background-color: white;
    /* border: 2px solid black; */
}
#nav-items{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
#nav2{
    background-color: aliceblue;
    border: 2px solid black;
    margin-top: 8px;
    border-radius: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:20% 20%;
}
#nav2 h3{
    color: black;
    background-color: rgb(49, 137, 214);
    border: 2px solid black;
    margin-top: 3px; 
    border-radius: 40px;
    gap: 8px;
}
#nav h3{
    color: black;
    background-color: aliceblue;
    border: 2px solid black;
    margin-top: 3px; 
    border-radius: 40px;
    padding: 8px;
    gap: 8px;
}
#main{
    background-color: white;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 50% 25% 25%;
}
#div1{
    background-color:black;
    border: 2px solid black;
    border-radius: 40px;
    margin: 10px;
}
#div2{
    background-color: gold;
    border-radius: 40px;
    margin: 10px;
}
#div3{
    background-color:aquamarine;
    border-radius: 40px;
    margin: 10px;
}

#footer{
    background-color: white;
    /* border: 2px solid black; */
    display: grid;
    grid-template-rows: 100% 100%;
    grid-template-columns: 50% 50%;
}

#left{
    background-color:black;
    border: 2px solid black;
    border-radius: 40px;
    margin: 10px;
}

#up-right{
    background-color: slategray;
    margin: 10px;
    border: 2px solid black;
    border-radius: 40px;
    margin: 10px;
}
/* #bottom{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: turquoise;
} */